<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/menu">Full Menu</a>
      <!-- new links below-->
      <a href="/menu/mains">Mains</a>
      <a href="/menu/desserts">Desserts</a>
      <a href="/menu/sides">Sides</a>
    </nav>
    <h1>Category</h1>

    <ul>
      <% menuItems.forEach(function(item) { %>
      <li>
        <h2><%= item.name %> $<%= item.price.toFixed(2) %></h2>
        <p>Rating: <%= item.rating %> stars</p>
        <p>Details: <%= item.details %></p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
